* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

h5, li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:  #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  30px 10%;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display:  inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s. ease 0s;
}

.nav__links li a:hover {
    color:  #0088a9;
}

.hobbies {
    padding-left: 10%;
    padding-right: 30%;
    padding-top: 30px;
}

img {
    padding-top: 10px;
    padding-bottom: 10px;
}
